html {
  font-family: sans-serif;
  background-color: #F8F8F8;
}



h1{
  text-align: center;
}


.tableau{
  border-collapse: collapse;
  border: 1px solid black;
  background-color:	#9fb79f;
}

.tableau td{
  padding:10px;
  width : 800px;
}

th{
  background-color: #445a44;
  color:white;
}

tr:hover{
  background-color: #678767;
}

.visuel{
    transition-duration: 0.25s;
}
.visuel:hover{
  transform: scale(115%, 115%) ;
  transition-duration: 0.25s;
}
